/* .wrapper {
    display: flex;
    flex-direction: row;
} */

#navbar {
    display: flex;
    flex-direction: column;
    min-width: 285px;
    border:2px solid black;
    font-size: 25px;
    position: fixed;
} 

.header {
    padding-top: 10px;
}

#navbar a {
    padding: 10px;
    text-decoration: none;
    color: black;
    border-top: 1px solid black;
}

#navbar a:hover {
    font-weight: bold;
}

#main-doc {
    border:2px solid black;
    font-size: 18px;
    margin-left: 351px;
    padding: 8px;
}

@media all and (max-width: 720px) {
    /* .wrapper {flex-direction: column;} */
    #main-doc {
        margin-left: 0px; 
        
    }
    #navbar {
        position: relative;
    }

}

code, code ol li {
    background-color: lightgrey;
}